@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');

@import "tailwindcss";

html {
  font-family: "Murecho", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}